* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin-left: 10pt;
}

h3 {
  margin-left: 10pt;
}

/* header */

header {
  align-items: center;
}

.icon-cart {
  position: relative;
}

.icon-cart span {
  position: absolute;
  background-color: red;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: 0px;
}

#myInput {
  background-image: url("img/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#portf {
  font-weight: 600;
  font-size: 1.2rem;
  border: 4px solid black;
  display: inline;
  padding: 5px;
  margin-left: 10px;
  /* margin-bottom: 0pt; */
}

.no-margin {
  margin: 0pt;
}

.banner {
  width: 100%;
}

.headerul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0pt;
}

a {
  color: black;
}

.listProduct .item img {
  width: 100%;
  border-radius: 2%;
}
.listProduct .item img:hover {
  width: 100%;
  border-radius: 2%;
  filter: drop-shadow(0 50px 20px rgba(71, 71, 71, 0.6));
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  width: 100%;
  background-color: #b2daa44b;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 1px;
  font-size: medium;
}
.listProduct .item button {
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .portf-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .portf-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* product categories container */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .pcategories-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .pcategories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* deals container */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .listProduct,
  .deals-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .listProduct,
  .deals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* main */

.image-float {
  float: left;
  display: flex;
  width: 400pt;
}

.categories-text-centered {
  text-align: center;
}

.cart-thing {
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
  width: 1050px;
  height: 200px;
  background-color: #b2daa4;
  display: flex;
  position: c;
  flex-direction: row;
}

main {
  flex: 1;
}

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
}

.listCart .item img {
  width: 100%;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}

.main-img {
  width: 30%;
}
.ten-percent {
  width: 10%;
}
.seventy-percent {
  width: 30px;
  margin: 0;
}

.nospace {
  font-size: 0;
}

.green-bg {
  padding: 15px;
  margin: 0 auto;
}

.green-bg:hover {
  border-radius: 20px;
  background-color: rgba(178, 218, 164, 0.5);
  padding: 15px;
}

.purple-bg {
  padding: 15px;
  margin: 0 auto;
}

.purple-bg:hover {
  border-radius: 20px;
  background-color: rgba(92, 24, 194, 0.362);
  padding: 15px;
}

.smol-percent {
  width: 10%;
  height: 50%;
  margin-top: 75px;
  margin-left: -130px;
}

.smoller-percent {
  width: 4%;
  height: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

#pork-text {
  margin-left: 15px;
}

#hamy-text {
  margin-top: 70px;
  margin-left: 15px;
}

#price-text {
  margin-top: 90px;
  margin-left: -125px;
}

#checkout-button {
  margin-top: 50px;
  text-align: center;
}

.bullet {
  list-style: disc;
  padding-left: 1rem;
  font-size: 0.9rem;
  margin-left: 10pt;
}

.portfolio-img {
  width: 100%;
}

.no-margin-left {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-textsize {
  font-size: 14pt;
  margin-top: 10pt;
}

.anchor-lines {
  text-decoration: none;
}

.caption-text {
  margin-top: 7pt;
  font-size: 14pt;
  margin-left: 0pt;
}

.price-text {
  margin-top: 3pt;
  font-size: 12pt;
  margin-left: 0pt;
  font-weight: 600;
}

.profile-thing {
  margin: 0;
  background-color: #d3bdff;
  padding-top: 40px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
}

.item-thing {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
}

.item-thing-2 {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.empty-section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

figcaption {
  font-size: x-large;
}

.paragraph-last {
  margin-left: 10pt;
  margin-bottom: 40pt;
}

/*ITEM PICKED*/
.view-image {
  width: 500px;
}

.view-text {
  align-items: baseline;
  margin-top: 0px;
  margin-left: 16px;
}

.smaller-viewtext {
  align-items: baseline;
  margin-top: 10px;
  margin-left: 16px;
  font-size: 11pt;
}

.line1 {
  height: 80px;
  border-bottom: 1px solid black;
}

.view-userimage {
  width: 70px;
  margin-top: 10px;
  margin-left: 0px;
}

.view-starsimage {
  width: 90px;
  height: 20px;
  margin-top: 28px;
  margin-left: 20px;
}
/*LOGIN AND SIGNUP*/

.main-color {
  background-color: #baeaa9;
}

.h1log {
  margin-left: 37%;
  margin-top: 5%;
}

.h1sign {
  margin-left: 35%;
  margin-top: 5%;
}

.h3sign {
  margin-left: 10pt;
}

.asign {
  color: black;
}

.formlog {
  margin-left: 10pt;
  margin-bottom: 10%;
}

.formsign {
  margin-left: 10pt;
  margin-bottom: 5%;
}

#rectangle {
  display: flexbox;
  width: 30%;
  height: 60%;
  background: #d3bdff;
  border-radius: 5%;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rectangle2 {
  display: flexbox;
  width: 30%;
  height: 72%;
  background: #d3bdff;
  border-radius: 5%;
  /* justify-content: center; */
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 521px) {
  .formlog {
    margin-left: 10pt;
    margin-bottom: 5%;
  }
  .h1log,
  h3,
  a {
    font-size: 12px;
  }
}

@media screen and (max-height: 591px) {
  .formsign {
    margin-left: 10pt;
    margin-bottom: 5%;
  }
  .h1sign,
  .h3sign,
  .asign {
    font-size: 12px;
  }
}

@media screen and (max-height: 416px) {
  .formlog,
  .formsign {
    margin-left: 10pt;
    margin-bottom: 2%;
  }
  p,
  .h1log,
  .h1sign,
  h3,
  a {
    font-size: 10px;
  }
}

@media screen and (max-height: 440px) {
  .formsign {
    margin-left: 10pt;
    margin-bottom: 2%;
  }
  .h1sign,
  .h3sign,
  .asign {
    font-size: 10px;
  }
}

@keyframes boom {
  from {
    transform: translateX(1200px) translateY(0px) scale(1);
  }
  to {
    transform: translateX(600px) translateY(-140px) scale(1.5) rotate(-20deg);
  }
}
@keyframes burn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* footer */

footer {
  /* margin-top: 3rem; */
  border-top: 1px solid black;
  padding: 15px;
  align-items: center;
}
