:root {
  --background-color: white;
  --base-variant: #e8e9ed;
  --color: black;
  --primary-color: #1d2545;
  --accent-color: #5e17eb;
}
.darkmode {
  --background-color: #353432;
  --base-variant: #1d2545;
  --color: white;
  --primary-color: #e8e9ed;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  top: 20px;
}

#theme-switch svg {
  fill: var(--primary-color);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--color);
}

p {
  margin-left: 10pt;
}

h3 {
  margin-left: 10pt;
}

/* header */

header {
  align-items: center;
}

.icon-cart {
  position: relative;
}

.icon-cart span {
  position: absolute;
  background-color: red;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: 0px;
}

#myInput {
  background-image: url("img/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

li,
figcaption {
  color: var(--color);
}
#portf {
  font-weight: 600;
  font-size: 1.2rem;
  border: 4px solid black;
  display: inline;
  padding: 5px;
  margin-left: 10px;
  /* margin-bottom: 0pt; */
}

.no-margin {
  margin: 0pt;
}

.banner {
  width: 100%;
}

.headerul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0pt;
}

a {
  color: black;
}

.listProduct .item img {
  width: 100%;
  border-radius: 2%;
}
.listProduct .item img:hover {
  width: 100%;
  border-radius: 2%;
  filter: drop-shadow(0 50px 20px rgba(71, 71, 71, 0.6));
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  width: 100%;
  background-color: #b2daa44b;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 1px;
  font-size: medium;
}
.listProduct .item button {
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.listProduct .item button:hover {
  background-color: #d3bdff;
  filter: drop-shadow(0 20px 20px rgb(100, 90, 121));
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.pageButton {
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 150px;
  height: 35px;
}
.pageButton:hover {
  background-color: #d3bdff;
  filter: drop-shadow(0 20px 20px rgb(100, 90, 121));
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 150px;
  height: 35px;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .portf-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .portf-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* product categories container */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .pcategories-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .pcategories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* deals container */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .listProduct,
  .listClothing,
  .deals-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 520px) {
  .listProduct,
  .listClothing,
  .deals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* main */
.rect1 {
  width: 100%;
  height: 300px;
  background-color: #d3bdff;
  text-align: center;
  align-items: center;
  display: flex;
}

.banner-text {
  font-size: 75px;
  margin-left: 5%;
  align-items: center;
  text-align: center;
  font-weight: 100px;
  color: transparent;
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  animation: animate-background 3s linear;
  animation-fill-mode: both;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.image-float {
  float: left;
  display: flex;
  width: 400pt;
}

.categories-text-centered {
  text-align: center;
}

.cart-thing {
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
  width: 1050px;
  height: 200px;
  background-color: #b2daa4;
  display: flex;
  position: c;
  flex-direction: row;
}

main {
  flex: 1;
}

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
}

.main-img {
  width: 30%;
}
.ten-percent {
  width: 10%;
}
.seventy-percent {
  width: 30px;
  margin: 0;
}

.nospace {
  font-size: 0;
}

.green-bg {
  padding: 15px;
  margin: 0 auto;
}

.green-bg:hover {
  border-radius: 20px;
  background-color: rgba(178, 218, 164, 0.5);
  padding: 15px;
}

.purple-bg {
  padding: 15px;
  margin: 0 auto;
}

.purple-bg:hover {
  border-radius: 20px;
  background-color: rgba(92, 24, 194, 0.362);
  padding: 15px;
}

.smol-percent {
  width: 10%;
  height: 50%;
  margin-top: 75px;
  margin-left: -130px;
}

.smoller-percent {
  width: 4%;
  height: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

#pork-text {
  margin-left: 15px;
}

#hamy-text {
  margin-top: 70px;
  margin-left: 15px;
}

#price-text {
  margin-top: 90px;
  margin-left: -125px;
}

#checkout-button {
  margin-top: 50px;
  text-align: center;
}

.bullet {
  list-style: disc;
  padding-left: 1rem;
  font-size: 0.9rem;
  margin-left: 10pt;
}

.portfolio-img {
  width: 100%;
}

.portfolio-img1 {
  width: 100%;
  border-radius: 15%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.33s;
  animation-fill-mode: backwards;
}

.portfolio-img2 {
  width: 100%;
  border-radius: 15%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.66s;
  animation-fill-mode: backwards;
}

.portfolio-img3 {
  width: 100%;
  border-radius: 15%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes popout {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.85;
  }

  30% {
    opacity: 1;
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.no-margin-left {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-textsize {
  font-size: 14pt;
  margin-top: 10pt;
}

.anchor-lines {
  text-decoration: none;
}
.thriftiqueLogo {
  padding-left: 15px;
  padding-top: 15px;
}

.caption-text {
  margin-top: 7pt;
  font-size: 14pt;
  margin-left: 0pt;
}

.price-text {
  margin-top: 3pt;
  font-size: 12pt;
  margin-left: 0pt;
  font-weight: 600;
}

.profile-thing {
  margin: 0;
  background-color: #d3bdff;
  padding-top: 40px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
}

.item-thing {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
}

.item-thing-2 {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.empty-section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

figcaption {
  font-size: x-large;
}

.paragraph-last {
  margin-left: 10pt;
  margin-bottom: 40pt;
}

/*ITEM PICKED*/
.view-image {
  width: 500px;
}

.view-text {
  align-items: baseline;
  margin-top: 0px;
  margin-left: 16px;
}

.smaller-viewtext {
  align-items: baseline;
  margin-top: 10px;
  margin-left: 16px;
  font-size: 11pt;
}

.line1 {
  height: 80px;
  border-bottom: 1px solid black;
}

.view-userimage {
  width: 70px;
  margin-top: 10px;
  margin-left: 0px;
}

.view-starsimage {
  width: 90px;
  height: 20px;
  margin-top: 28px;
  margin-left: 20px;
}
/*LOGIN AND SIGNUP*/
.wrapper {
  box-sizing: border-box;
  background-color: var(--background-color);
  height: 100vh;
  width: max(40%, 600);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-variant);
  color: var(--color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--base-variant);
  color: var(--color);
  border-left: none;
  background-color: var(--base-variant);
  transition: 150ms ease;
}

form input:hover {
  border: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--color);
}
div:has(input:focus) > label {
  background-color: var(--color);
}

form input::placeholder {
  color: var(--color);
}

form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-variant);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

form button:hover {
  background-color: var(--color);
}

form button:focus {
  outline: none;
  background-color: var(--color);
}

.asign {
  text-decoration: none;
  color: var(--accent-color);
}

.asign:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}

form div.incorrect label {
  background-color: #f06272;
}

form.incorrect input {
  border-color: #f06272;
}

#error-message {
  color: #f06272;
}

/*USER PAGE*/

footer {
  /* margin-top: 3rem; */
  border-top: 1px solid black;
  padding: 15px;
  align-items: center;
}
